# Assingment 1

In [ ]:
1. values     = 'hello' , -87.8 , 6
   expression =  * , - , / , +

In [ ]:
2. string :  It is the array of characters which are generally enclosed within single quotation marks, 
             or double quotation marks. It is immutable.
  variable : Variables are containers for storing data values. Variables are containers for storing data values

In [ ]:
3. There are different data types in python. some of them are
   - Text data Type (str)
   - Numeric data type (int, float , complex)
   - Boolean data type (bool)

In [ ]:
4. An expression is a combination of values , variables, operators , and call to functions.
   eg: 
        4 + 6 is an expression
        
   The 4 and 6 are integer values and the + is the mathematical operator. This expression evaluates
   down to the single integer value 4.
   4 + 6 = 10

In [ ]:
5. Anything that does something is a statement. Any assignment to a variable or function call is a statement.
   A = "iNeuron" is a statement that assigns A to the value of the expression "iNeuron".
   An expression is an instruction that combines values and operators and always evaluates down to a single value.

   eg:
        4+6 is an expression but a= 4+6 is an statement

In [ ]:
6. 23
   it will increment the value of bacon by 1 value.

In [ ]:
7. 'spamspamspam'
   'spamspamspam'

In [ ]:
8. eggs a valid variable name while 100 is invalid because we cannot keep the first character to be a integer value
   while assigning to literal.

In [ ]:
9. The int() , float() , and str( ) functions will evaluate to the integer, floating-point number, 
   and string versions of the value.

In [ ]:
10. the expression will show error because python can only concatenate str (not "int") to str .so we have to change
    99(int) to '99'(str).The expression should be:
        
        "I have eaten"  + " 99" + " burritos"